<div class="side-menu">
  <div class="menu-header">
    <h2>Coffe App</h2>
    <h5>Yes, it's coffe</h5>
  </div>
  <ul class="menu">
    <a href="/dashboard"><li>Dashboard</li></a>
    <a href="/user"><li>Users</li></a>
    <a href="/coffee"><li>Coffee</li></a>
    <a href="/history"><li>History</li></a>
  </ul>
</div>

<script type="text/javascript">
  var page = window.location.href.split('/')[3];
  $('a[href="/'+page+'"]').children().addClass('active');
</script>
