<h2 id="title">Welcome to Ember</h2>

<ul id="menu">
  <li>{{#link-to "index"}}home{{/link-to}}</li>
  <li>{{#link-to "about"}}about{{/link-to}}</li>
  <li>{{#link-to "contact"}}contact{{/link-to}}</li>
</ul>

{{outlet}}
