<div class="content-container">
  <div class="content">
    <h3>
      <span>
        <i class="fa fa-history"></i>
      </span>
      <span>History</span>
    </h3>

    <div class="row">
      {{#cf-grid model=model sorted=sorted history=true}}
      {{/cf-grid}}
    </div>
  </div>
</div>

{{outlet}}
