<div class="content-container">
  <div class="content">
    <div class="new">
      <h4>Update Coffee:</h4>
      <div class="column">
        <div class="form-row">
          <label for="name">Name</label>
        </div>

        <div class="form-row">
          {{input type=text value=model.name}}
        </div>

        <div class="form-row">
          <label for="name">Cost</label>
        </div>

        <div class="form-row">
          {{input type=text value=model.cost}}
        </div>
        <div class="form-row clearfix">
          <a href="#" class="btn add" {{action 'saveChanges' changeCoffee}}>
            <span>
              Save
            </span>
          </a>
        </div>
      </div>

      <div class="column">
        <div class="alert-success">
          Coffee updated successfully
        </div>
      </div>
    </div>
  </div>
</div>
