<button type="button" name="button" {{action 'confirm'}}>confirm</button>
<button type="button" name="button" {{action 'alert'}}>alert</button>
<button type="button" name="button" {{action 'custom'}}>custom</button>
